p----9


/* PAGE BACKGROUND */

body{
background:#ebebeb;
}


/* CONTACT PAGE */

.contact-page{
max-width:900px;
margin:80px auto;
padding:20px;
text-align:center;
}


/* INTRO */

.contact-intro{
margin-bottom:50px;
}

.contact-intro h1{
font-size:28px;
margin-bottom:10px;
}

.contact-intro p{
color:#555;
line-height:1.6;
}


/* GRID */

.contact-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:35px;
margin-top:40px;
margin-bottom:50px;
}


/* CARDS */

.contact-card{
background:#ffffff;
padding:30px 20px;
border-radius:16px;
text-decoration:none;
color:#2b2b2b;
box-shadow:0 12px 25px rgba(0,0,0,0.08);
transition:.35s;
display:block;
}


/* ICON */

.contact-icon{
width:45px;
margin-bottom:15px;
}


/* TEXT */

.contact-card h3{
margin:8px 0;
font-size:20px;
}

.contact-card p{
margin:4px 0;
}

.contact-card span{
color:#666;
font-size:14px;
}


/* HOVER */

.contact-card:hover{
background:#2e6b46;
color:#fff;
transform:translateY(-6px);
box-shadow:0 25px 60px rgba(0,0,0,0.25);
}

.contact-card:hover span{
color:#fff;
}


/* LOCATION */

.location{
margin-top:30px;
}

.location h2{
margin-bottom:8px;
}

.location p{
color:#555;
}


/* MOBILE */

@media(max-width:800px){

.contact-grid{
grid-template-columns:1fr;
gap:25px;
}

}
